body {
    margin: 0%;
    padding: 0%;
   
  }
  
  #cont{
     background-image: url(bck.png);
     height: 100vh;
     margin: 0%;
    padding: 0%;
   
  }
  #pvid {
    width: 86.5%;
    height: 100%;
    margin: 0px;
    border-radius: 20px;
    border: 3px solid red;
    display: block;
  }
  
  #mvid{
    display: none;
  }
  
  #cont h1 {
    color: white;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #cont a {
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    text-decoration: none;
    background-color: transparent;
    width: 10vw;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Orbitron", sans-serif;
    border: solid red 2px;
  }
  
  #cont a:hover {
    background-color: rgb(112, 110, 107);
    transition: 750ms;
  
  }
  

  /*Category*/

  .category-1{
    position: absolute;
    top: 20%;
    left: 30%;
    display: flex;
    flex-direction: row;
   
  }

  #prem,
  #laliga {
    width: 15vw;
    height: 30vh;
    border-radius: 20px;
    margin-left: 80px;
    cursor: pointer;
     display: none;
  }


  .category-2{
    position: absolute;
    top: 60%;
    left: 30%;
    display: flex;
    flex-direction: row;
   
  }

  #ucl,
  #wc {
    width: 15vw;
    height: 30vh;
    border-radius: 20px;
    margin-left: 80px;
    cursor: pointer;
    display: none;
    
  }


 





  /*modal*/
  #modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 0%;
    left: 0;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#modal-content {
    background-image: url(bck.png);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    height: 40%;
    font-size: 24px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#mstart{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  text-decoration: none;
  background-color: transparent;
  width: 10vw;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Orbitron", sans-serif;
  border: solid red 2px;
}




  /*mobile responsive*/
  @media (max-width: 600px) {
    #cont{
       background-image: url(bck.png);
     height: 100vh;
     margin: 0%;
    padding: 0%;
   
    }
    #mvid {
      display: block;
      border: 2px solid red;
      border-radius: 10px;
      width: 95%;
      height: 99vh;
    }
  
    #pvid{
     display: none;
    }
  
    #cont h1,
    #cont a {
      font-size: 30px;
      text-align: center;
      width: 80%;
    }
  
    #cont a {
      padding: 10px;
      width: auto;
    }
  
    .category-1{
      position: absolute;
      top: 30%;
      left: 1%;
      display: flex;
      flex-direction: row;
     
    }
  
    #prem,
    #laliga {
      width: 40vw;
      height: 20vh;
      border-radius: 20px;
      margin-left: 20px;
      cursor: pointer;
       display: none;
    }
  
  
    .category-2{
      position: absolute;
      top: 60%;
      left: 1%;
      display: flex;
      flex-direction: row;
     
    }
  
    #ucl,
    #wc {
      width: 40vw;
      height: 20vh;
      border-radius: 20px;
      margin-left: 20px;
      cursor: pointer;
      display: none;
      
    }
  

  
  }

